.rw-conversation-container .rw-header {
  background-color: #30bfd3 !important;
}

.rw-conversation-container .rw-client {
  background-color: #30bfd3 !important;
}

.rw-open-launcher__container {
  background-color: #30bfd3 !important;
  width: 100% !important;
}

.rw-launcher {
  background-color: #30bfd3 !important;
}